.cityCard {
    background-color: #212A3E;
    border: 2px solid black;
    width: 500px;
    height: 500px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.image{
    height: 350px;
}
.cityName{
    color: black;
    text-align: center;
}
.link{
    text-decoration: none;
}
